
.container{
  margin-top: 30px;
  margin-bottom: 30px;
  .row{
    color:map-get($colors, color2);
    .leftSide{
      #section1{
        width: 100%;
        .address{
          margin-top: 0;
          a{
            text-decoration: none;
            h1{
              margin-top: 0;
              margin-bottom: 15px;
              color:map-get($colors, color5);
            }
          }
          h1:hover{
            color:map-get($colors, color2);
          }
          }//ending .address
        }//ending #section1
    }//ending .col

    .col-md-8{
      .row{
        margin-top: 40px;
      }
      .data,.company{
        color:map-get($colors, color5);
        .col-sm-12{
          display: flex;
          justify-content: flex-end;
        }
      }
      .text{
        padding: 4%;
        .description{
          span{
            margin-left: 2em;
          }
        }
      }
      .row{
        .signature{
          display: flex;
          justify-content: flex-end;
          color:map-get($colors, color5);
        }
      }

    }




  }//ending .row
}//ending.container
